.mainContainer {
    display: flex;
    flex-direction: column;
    margin: 180px auto 0;
    width: 480px;
    justify-content: center;
}

.title {
    text-align: center;
    color: #F2F2F3;
}

.subtitle {
    margin: 0;
    color: #8585AD;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
