.popupInfo {
    composes: popup from '../OrderDetails/OrderDetails.module.css';
}

.container {
    composes: container from '../OrderDetails/OrderDetails.module.css';
    height: 539px;
}

.popupOpened {
    composes: popupOpened from '../OrderDetails/OrderDetails.module.css';
}

.close {
    composes: close from '../OrderDetails/OrderDetails.module.css';
}

.page {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10% auto;
  }

.title {
    text-align: start;
    line-height: 40px;
}

.image {
    width: 480px;
    height: 240px;
}

.info {
    display: flex;
    width: 520px;
    gap: 20px;
    text-align: center;
}

.infoItem {
    width: 120px;
    color: #8585AD;
}