.mainContainer {
    margin: 180px auto 0;
    width: 480px;
}

.title {
    text-align: center;
    color: #F2F2F3;
    font-size: 24px;
}

.subtitle {
    margin: 0;
    color: #8585AD;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 4 0;
}

.button {
    text-align: center;
}